* {
  box-sizing: border-box;
      text-align: center;
      justify-content: center;
      align-items: center;
}


body::-webkit-scrollbar {
  background:  #000a1c76;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(58deg, #17c3bb, #2c5ed0eb);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(58deg, #17c3bb, #2c5ed0eb); 
}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #000000 0%, #142144 100%);
  color: #ffffff;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

